/******************** Element selectors *******************************/
body {
  color: #f3eee4;
  font-family: "Play", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

h1 {
  color: #488eff;
  font-family: "Play", sans-serif;
  font-size: 2.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  font-size: 1.4rem;
  margin: 0;
  padding: 20px;
}

h3 {
  font-size: 1.255rem;
  font-weight: normal;
  margin: auto;
  padding: 20px;
}

hr {
  background-color: #e4dccf;
  height: 1px;
  margin: 0;
}

table {
  margin: auto;
}

td {
  padding: 20px;
}

th {
  background-color: #c84b31;
  padding: 5px;
}

/****************************Class selectors**************************/

.top-container {
  background-color: #191919;
  position: relative;
  padding-top: 55px;
  margin-bottom: 0;
}

.middle-container {
  background-color: #191919;
  margin-bottom: 0;
}

.skills {
  padding: 10px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
}

.bottom-container {
  background-color: #191919;
  margin-bottom: 0;
}

.pro {
  text-decoration: underline;
}

.html-img {
  height: 64px;
  position: absolute;
  right: 300px;
  top: 50px;
  width: 64px;

  animation-name: htmlanim;
  animation-duration: 2s;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes htmlanim {
  0% {
    right: 300px;
    top: 50px;
  }
  25% {
    right: 300px;
    top: 70px;
  }
  50% {
    right: 300px;
    top: 90px;
  }
  75% {
    right: 300px;
    top: 70px;
  }
  100% {
    right: 300px;
    top: 50px;
  }
}

.css-img {
  height: 64px;
  bottom: 300px;
  left: 300px;
  position: absolute;
  width: 64px;

  animation-name: cssanim;
  animation-duration: 2s;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes cssanim {
  0% {
    left: 300px;
    bottom: 300px;
  }
  25% {
    left: 300px;
    bottom: 320px;
  }
  50% {
    left: 300px;
    bottom: 340px;
  }
  75% {
    left: 300px;
    bottom: 320px;
  }
  100% {
    left: 300px;
    bottom: 300px;
  }
}

.js-img {
  bottom: 100px;
  height: 64px;
  position: absolute;
  right: 200px;
  width: 64px;

  animation-name: jsanim;
  animation-duration: 2s;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes jsanim {
  0% {
    right: 200px;
    bottom: 100px;
  }
  25% {
    right: 200px;
    bottom: 120px;
  }
  50% {
    right: 200px;
    bottom: 140px;
  }
  75% {
    right: 200px;
    bottom: 120px;
  }
  100% {
    right: 200px;
    bottom: 100px;
  }
}

.computer-img {
  height: auto;
  margin-bottom: 0;
  min-width: 64px;
  max-width: 480px;
  width: 100%;
}

.coding-laptop-gif {
  height: 144px;
  width: 144px;
  float: left;
}

.footer-links {
  padding: 20px;
}
.contact-me {
  padding: 20px;
}
/********************************** ID selectors **************************/
#copyright {
  font-size: 1rem;
  margin-bottom: 0;
}
