h1 {
  font-family: "Play", sans-serif;
  font-size: 2.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-size: 1.4rem;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Play", sans-serif;
  font-size: 1.2rem;

  color: black;
}

.top-container {
  background-color: #42bbda;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.pro {
  text-decoration: underline;
}

.top-cloud-img {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud-img {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mountain-img {
  padding-bottom: 0;
}

table {
  margin: auto;
}

td {
  padding: 20px;
}

th {
  background-color: grey;
}
